In [22]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [23]:
df = pd.read_csv('Salary_Data.csv')

In [24]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [25]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [26]:
df.shape

(30, 2)

In [27]:
X = df.drop(columns=['Salary'])
y = df['Salary']

In [28]:
X[:5]

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [29]:
y[:5]

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [45]:
# Step 1 -> train/test/split
X_train,X_test,y_train,y_test = train_test_split(X,
                                                 y,
                                                 test_size=0.3,
                                                random_state=317)

In [46]:
X_train.head(5)

    YearsExperience
16              5.1
29             10.5
18              5.9
7               3.2
1               1.3

In [47]:
y_train.head(5)

16     66029.0
29    121872.0
18     81363.0
7      54445.0
1      46205.0
Name: Salary, dtype: float64

In [48]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [49]:
print(f"intercept: {lr.intercept_}")
print(f"slope: {lr.coef_}")

intercept: 25722.830734170144
slope: [9439.1311845]

In [50]:
y_pred = lr.predict(X_test)
y_pred

array([107843.27203935, 100291.96709175,  75750.22601204, 115394.57698695,
        64423.26859063, 110675.0113947 ,  92740.66214414,  36105.87503712,
        71974.57353824])

In [51]:
lr.score(X_train,y_train)

0.949696851906007

In [52]:
lr.score(X_test,y_test)

0.9649395508444129

In [53]:
import pickle
pickle.dump(lr , open('salarypredict.mdl' , 'wb') )